body {
  margin: 0;
  padding: 0;
  color: #f9f4ef;
  line-height: 150%;
  font-family: "Lobster", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}

/*========================================
    リンク
  ========================================*/

a,
a:active,
a:focus {
  text-decoration: none;
  color: #020826;
}
a:hover {
  text-decoration: none;
}
/*========================================
    フォント
  ========================================*/
.num {
  font-family: "Caladea", serif;
}

.price {
  display: block;
  font-weight: bold;
  font-family: "Caladea", serif;
  position: absolute;
  top: 130px;
  color: #fffffe;
  background-color: rgb(2, 8, 38, 0.7);
  padding: 3px;
}

/*========================================
    ヘッダー
  ========================================*/
header {
  width: 100%;
  height: 80px;
  background: #eaddcf;
}

header h1 {
  float: left;
  margin: 0;
  padding-left: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Lobster", cursive;
  line-height: 80px;
}

header h1 a {
  color: #020826;
  font-weight: lighter;
  text-decoration: none;
}

.top-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 3px #f25042;
  margin-top: 7px;
  margin-left: 200px;
}
.banner {
  position: relative;
}

.top-title {
  font-size: 56px;
  top: 45%;
  left: 43%;
  position: absolute;
  color: #020826;
}

.top-message {
  color: #020826;
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  position: absolute;
  top: 55%;
  left: 40%;
}

#top-banner {
  width: 100%;
  height: 700px;
  opacity: 0.8;
  vertical-align: middle;
}

/*========================================
    ナビゲーション
  ========================================*/
#top-nav {
  position: relative;
  float: right;
  width: 500px;
  height: 90px;
}

nav a {
  padding: 10px 15px;
  color: #020826;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

#top-nav ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 450px;
  height: 80px;
  list-style: none;
  line-height: 80px;
}

#top-nav ul li {
  float: right;
}
/*========================================
    レイアウト
  ========================================*/

.site-width {
  margin: 0 auto;
  width: 980px;
}

#main {
  float: left;
  min-height: 600px;
}

.page-1colum #main {
  width: 100%;
}

.page-2colum #main {
  width: 760px;
}
.page-logined #main {
  border: 5px solid #f1f1f1;
  box-sizing: border-box;
}

section h1.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#contents {
  overflow: hidden;
  margin: 20px auto;
}
/* ページタイトル */

.page-title {
  font-size: 28px;
  margin-left: 230px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #020826;
}
/*========================================
    ナブバー
  ========================================*/

#navbar {
  box-sizing: border-box;
  margin-left: 590px;
  margin-top: 30px;
  padding: 10px;
  width: 620px;

  border-bottom: 2px solid #716040;
}

.nav-name {
  padding-right: 15px;
  color: #716040;
  text-decoration: none;
}

#navbar :hover {
  color: #020826;
}

/*========================================
    フッター
  ========================================*/

footer {
  padding: 15px;
  width: 98%;
  background: #eaddcf;
  color: #020826;
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #b6a489;
}
/*contact*/

#contact {
  margin-bottom: 150px;
}
/*========================================
    ページネーション
  ========================================*/

.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #f25042;
  color: #020826;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.pagination .list-item.active a {
  background: #f25042;
  color: white;
}

.pagination .list-item a:hover {
  background: #f25042;
  color: white;
}
/*========================================
    検索エリア
  ========================================*/

.search-title {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 5px 10px;
  height: 40px;
  background: #f25042;
  line-height: 40px;
}

.search-left {
  float: left;
  margin-left: 220px;
}

.search-right {
  float: right;
  margin-right: 220px;
}

.search-title .total-num {
  padding-right: 5px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
/*=========================================
    リスト
  ========================================*/
.panel-body {
  padding: 5px;
  background: #eaddcf;
  height: 60px;
}

.list > .title {
  padding-left: 10px;
  border-left: 6px solid #b6a489;
}

.panel-list {
  overflow: hidden;
  margin-right: -15px;
}

.panel-list > .panel {
  float: left;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-right: 15px;
  min-height: 185px;
  width: 20%;
  text-decoration: none;
  line-height: 1.2em;
}

a.panel:hover {
  opacity: 0.6;
}

.panel-list > .panel img {
  width: 100%;
  height: 160px;
  vertical-align: middle;
  object-fit: cover;
}

.panel-list > .panel .panel-title {
  margin: 0;
}

.panel-head {
  position: relative;
}
/* テーブルリスト
  ========================================*/

.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
}

.list-table th,
.list-table td {
  padding: 5px;
}

.list-table > .table > tbody td {
  border-right: none;
  background: #f6f5f4;
}
/*========================================
    ボタン
  ========================================*/

.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background: #8c7851;
  color: #fffffe;
}

.btn.btn-mid {
  background: #8c7851;
  color: #fffffe;
  max-width: 150px;
  margin-top: 15px;
  margin-right: 250px;
}

.btn-flat-border {
  text-decoration: none;
  color: #020826;
  border: solid 2px #8c7851;
  border-radius: 3px;
  transition: 0.4s;
}

.btn-flat-border:hover {
  background: #8c7851;
  color: #020826;
  text-decoration: none;
}

/*========================================
    フォーム
  ========================================*/
label {
  display: block;
  margin-left: 120px;
  color: #020826;
}
/* Lesson9で追加 */
label.err input {
  border-bottom: 2px solid #f25042;
}
input[type="text"], input[type="password"]/* Lesson9で追加 */, input[type="number"], 
  textarea {
  margin-bottom: 20px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  height: 40px;
  display: block;
  outline: none;
  background: #fffffe;
  border: solid 0px;
  border-bottom: 2px solid #8c7851;
  text-decoration: none;
  resize: none;
}

.form select {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 18px;
  box-sizing: border-box;
  padding: 10px;
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  background: #eaddcf;
}

.search-form {
  background: #eaddcf;
}

.category_select {
  float: left;
  border: solid 2px #f25042;
  outline: none;
  width: 15%;
  height: 40px;
  font-size: 18px;
  color: #f25042;
  margin-left: 400px;
  margin-right: 20px;
  margin-top: 15px;
}

.sort_select {
  float: left;
  border: solid 2px #f25042;
  outline: none;
  width: 15%;
  height: 40px;
  font-size: 18px;
  color: #f25042;
  margin-right: 20px;
  margin-top: 5px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: #fffffe;
}
input[type="number"] {
  width: 100px;
  text-align: left;
}
input[type="submit"] {
  font-size: 14px;
  margin: 15px 0;
  padding: 10px 40px;
  border: none;
  background: #f25042;
  color: #fffffe;
  outline: none;
}

select:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.form-container {
  margin: 0 auto;
}
.page-1colum .form-container {
  margin: 80px auto;
}

.form {
  margin: 0 auto;
  padding: 30px;
  width: 650px;
  height: 450px;
  border: 2px solid #8c7851;
  background-color: #fffffe;
  color: #020826;
}
.page-logined .form {
  border: none;
}

.form .title {
  margin-bottom: 40px;
  text-align: center;
  color: #020826;
}
.form .area-msg {
  padding: 0 0 5px 0;
  color: #f25042;
  font-size: 10px;
  margin-left: 120px;
}

.form .btn-container {
  overflow: hidden;
}

.form .btn {
  float: right;
}

.form .counter-text {
  text-align: right;
}

.form .area-drop {
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
  background: #eaddcf;
  color: #716040;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
}

.area-drop {
  margin-bottom: 15px;
  background: #eaddcf;
  color: #716040;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
}

.form .input-file {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}
.form .prev-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.form .imgDrop-container {
  width: 33.333%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}
.form .counter-text {
  text-align: right;
}

.form .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eaddcf;
  margin: 0px 0px 10px 285px; /*背景色*/
  position: relative;
}

.form .circle-input-file {
  opacity: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px 0px 10px 285px;
  position: absolute;
  z-index: 2;
}
.form .circle-prev-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
}

/* フォームグループ
  =================================*/
.form-group {
  overflow: hidden;
  position: relative;
}
.form-group > input {
  float: left;
}
.form-group > .option {
  float: left;
  position: relative;
  top: 40px;
  display: block;
  padding-left: 10px;
}
/*===============================
その他
/*===============================*/
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: #f25042;
  opacity: 0.6;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

#circle-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  object-fit: cover;
}
